/*=============main 시작=================*/
/*========================================*/


.m_c {
    height: auto;
}



.what_new,
.collection,
.best {
    margin: 100px 0;
}

hr {
    font-size: 3px;
}

.image_slide_1 {
    background: url(../image/sfdlkajsfklasjfdksadf.jpeg) center/cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 420px;
}

/*===========image_slide============ */
/*================================== */
.cf::after {
    display: block;
    content: "";
    clear: both;
}

.what_new {
    border: solid 0px;
    font-size: 30px;
    display: flex;
    background-color: #fff;
    justify-content: space-evenly;
    min-width: 1200px;
    width: 100%;
    margin: 150px 0;
}

.item_name {
    margin-top: 15px;
}

.item_name,
.item_price {
    font-size: 14px;
}

.shop_this {
    margin-top: 15px;
}

.shop_this a {
    background-color: orangered;
    color: white;
    display: block;
    width: 100px;
    margin: auto;
    line-height: 23px;
}

.what_new em {
    font-style: normal;
}

.what_new_title {
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}

.what_new_item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.what_new_item ul {
    display: flex;
    text-align: center;
    gap: 10px;
}

.what_new_item li {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    width: 100%;
    flex: 5.5;
}

.what_new_item li:nth-child(even) {
    flex: 4.5
}

.what_new_item ul li a img {
    display: block;
    width: 100%;
    height: auto;
}

.what_new button {
    border: solid 0px;
    font-size: 30px;
    background-color: #fff;
    cursor: pointer;
}


.what_new_item li a img:nth-child(2) {
    display: none;

}

.what_new li a:hover img:nth-child(1) {
    display: none;
}

.what_new li a:hover img:nth-child(2) {
    display: block;
    text-align: center;
}

/* ============what`snew============ */
/* ================================= */


.collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    align-items: center;
    background: url(../image/flsjdfalskdfjkasljfdlk.jpeg) center/100% no-repeat;
}

.collection>a {
    color: #fff;
    font-size: 44px;
    font-weight: bold;
}

.collection>a+a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    background-color: #000;
    padding: 5px;
    text-align: center;
    line-height: 30px;
}


/* ===========collection============ */
/* ================================= */
.best {
    height: 400px;
}

.best em {
    font-style: normal;
    font-size: 16px;
}

.best_item {
    display: flex;
    gap: 5px;
}

.best_title>a {
    font-size: 30px;
}

.best_title h2 {
    margin-bottom: 50px;
}

.best_title {
    text-align: center;
}

/* ===================== */
.best_item ul {
    display: flex;
    gap: 10px;

    justify-content: space-between;
}

.best_item li {
    text-align: center;
    width: 100%;
}

.best_item ul li a img {
    width: 100%;
    display: block;
}

.best_item ul li a img:nth-child(2) {
    display: none;
}

.best_item ul li:hover a img:nth-child(1) {
    display: none;
}

.best_item ul li:hover a img:nth-child(2) {
    display: block;
}

.best_item button {
    border: solid 0px;
    font-size: 30px;
    background-color: #fff;
    cursor: pointer;
}

/* ==============best=============== */
/* ================================= */

.video {
    margin-top: 200px;
    height: 800px;
    width: 100%;
    background-color: #000;
}

.play {
    width: 100%;
    height: 800px;
}

.play video {
    width: 100%;
    height: 800px;
}

/* ================================= */
/* ============main영역 끝============ */