/*=============main 시작=================*/
/*========================================*/


.m_c {
    height: auto;
}

.to_top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid orangered;
    border-radius: 50%;
    box-sizing: border-box;
}

.to_top a {
    display: block;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.to_top a i {
    font-size: 25px;
    color: orangered;
}

.quick_menu {
    z-index: 100;
    position: fixed;
    right: 200px;
    bottom: 50px;
}

.what_new,
.collection,
.best {
    margin: 100px 0;
}

hr {
    font-size: 3px;
}

.image_slide_1 {
    border: solid 0px;
    background: url(../image/sfdlkajsfklasjfdksadf.jpeg) center/cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 420px;
}

/*===========image_slide============ */
/*================================== */
.what_new {
    border: solid 0px;
    font-size: 30px;
    height: 400px;
    background-color: #fff;
    min-width: 1200px;
    width: 100%;
}


.what_new_title {
    text-align: center;
    width: 170px;
    height: 100%;
    line-height: 50px;
    position: relative;
    float: left;
}

.what_new_title>a {
    position: absolute;
    top: 30%;
    transform: translatex(-50%);
}

.what_new li {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    width: 20%;
    height: 50%;
    margin-left: 4%;
}

.what_new li:first-child {
    margin-left: 0%;
}

.what_new>ul {
    white-space: nowrap;
    /* width: calc(100% - 80px); */
    float: left;
}

.what_new_item {
    width: calc(100% - 18%);
    float: left;
}


.what_new button {
    margin: 150px 10px;
    float: left;
    border: solid 0px;
    font-size: 30px;
    background-color: #fff;
    cursor: pointer;
}

img {
    width: 225px;
    height: 300px;
}

img:nth-child(2) {
    display: none;

}

.what_new li a:hover img:nth-child(1) {
    display: none;
}

.what_new li a:hover img:nth-child(2) {
    display: block;
    /* width: 250px; */
    /* height: 320px; */
}

/* ============what`snew============ */
/* ================================= */


.collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0px;
    height: 400px;
    align-items: center;
    background: url(../image/flsjdfalskdfjkasljfdlk.jpeg) center/cover;
    background-size: 1500px 800px;
    background-position-x: -200px;
}

.collection>a {
    color: #fff;
    font-size: 44px;
    font-weight: bold;
}

.collection>a+a {
    border: 2px solid #000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    background-color: #000;
    text-align: center;
    line-height: 25px;
}


/* ===========collection============ */
/* ================================= */
.best {
    border: solid 0px;
    /* font-size: 30px; */
    height: 400px;
    /* margin-bottom: 100px; */
    /* background-color: rgba(128, 128, 128, 0.227); */
}

.best_title>a {
    font-size: 30px;
}

.best_title h2 {
    margin-bottom: 50px;
}

.best_title {
    text-align: center;
}

.best_item li {
    display: inline-block;
    text-align: center;
    width: 295px;
}


.best_item>ul {
    white-space: nowrap;
}

.best_item button {
    border: solid 0px;
    font-size: 30px;
    background-color: rgba(194, 194, 194, 0.028);
    transform: translateY(-400%);
    cursor: pointer;
}


.best_item li a:hover img:nth-child(1) {
    display: none;
}

.best_item li a:hover img:nth-child(2) {
    display: block;
    margin-left: 30px;
}

/* ==============best=============== */
/* ================================= */

/* ================================= */
/* ============main영역 끝============ */