

/*=============main 시작=================*/
/*========================================*/


.m_c {
    height: auto;
}

.image_slide_1,
.what_new,
.collection,
.best {
    margin: 50px 0 50px 0;
}

hr {
    font-size: 3px;
}

.image_slide_1 {
    border: solid 0px;
    background: url(../image/acb8987c810c484780752e1dfc6cc995.jpeg) center/cover;
    background-repeat: no-repeat;
    width: 1240px;
    height: 300px;
}

/*===========image_slide============ */
/*================================== */
.what_new {
    border: solid 0px;
    font-size: 1.3em;
    height: 400px;
    background-color: #fff;
}

.what_new_title {
    text-align: center;
    width: 170px;
    height: 400px;
    line-height: 390px;
    float: left;
}

.what_new li {
    display: inline-block;
    text-align: center;
    width: 200px;
    margin-left: 4%;
}

.what_new li:first-child {

    margin-left: 0%;
}

.what_new>ul {
    white-space: nowrap;
    /* width: calc(100% - 80px); */
    float: left;
}

.what_new_item {
    width: calc(100% - 18%);
    float: left;
}

.what_new button {
    margin: 177px 10px;
    float: left;
    border: solid 0px;
    font-size: 30px;
    background-color: #fff;
}

img {
    width: 225px;
    height: 300px;
}

img:nth-child(2) {
    display: none;

}

.what_new li a:hover img:nth-child(1) {
    display: none;
}

.what_new li a:hover img:nth-child(2) {
    display: block;
    width: 250px;
    height: 320px;
}

/* ============what`snew============ */
/* ================================= */
.collection {
    border: solid 0px;
    line-height: 400px;
    text-align: center;
    background: url(../image/collection.jpg) center/cover;
    background-size: 1500px 800px;
    background-position-x: -200px;
}

.collection>a {
    color: #fff;
    font-size: 30px;
}


/* ===========collection============ */
/* ================================= */
.best {
    border: solid 0px;
    font-size: 1.3em;
    height: 400px;
    background-color: rgba(128, 128, 128, 0.227);
}

.best_title {
    text-align: center;
}

.best_item li {
    display: inline-block;
    text-align: center;
    width: 295px;
}


.best_item>ul {
    white-space: nowrap;
}

.best_item button {
    border: solid 0px;
    font-size: 30px;
    background-color: rgba(194, 194, 194, 0.028);
}


.best_item li a:hover img:nth-child(1) {
    display: none;
}

.best_item li a:hover img:nth-child(2) {
    display: block;
    width: 300px;
    height: 350px;
}

/* ==============best=============== */
/* ================================= */

/* ================================= */
/* ============main영역 끝============ */

