.modal_cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #0009;
}


.modal_2{
    width:30%;
    height: 500px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 990px;
    background-color: white;
}
table{
    border-collapse: collapse;
    height: 200px;
}


table tr:nth-of-type(1){
    border-top: 3px solid;
}


table tr th,
table tr td{
padding: 10px;
border-bottom: 1px solid;
border-right: 1px solid #eee;
}
.third_column{
    border-right: none;
}
ul{ font-weight: bold;
    text-decoration: underline;
}

    /* ========================================= */
.button_box{
    display: flex;
    justify-content: center;
}


 button{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 120px;
    height: 35px;
    background-color: black;
    border: none;
}

 button a{
    color: white;
    text-decoration: none;
}

.modal_2{
    /* display: none; */
}