/* =====================main - subtitle===================== */
.new_rec {
    text-align: center;
    margin: 3rem;
}

.new_rec h3 {
    color: orangered;
}

.new_rec p {
    font-size: 12px;
    color: darkgray;
}

/* =====================main - new_slide_poster===================== */

.new_slide_poster {
    margin-bottom: 8rem;
}

.new_slide_poster p {
    text-align: right;
    color: darkgray;
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;
}

.new_slide_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new_slide_img {
    display: inline-block;
    width: 100%;
    min-width: 1050px;
    height: 500px;
    overflow: hidden;
}

.new_slide_img img {
    position: relative;
    top: -45%;
    width: 100%;
    object-fit: fill;
}

.new_slide_img a:nth-of-type(1),
.new_slide_img a:nth-of-type(3) {
    display: none;
}