.new_glass {
    margin-bottom: 8rem;
    min-width: 1050px;
}

.new_glass_title {
    display: inline-block;
    text-align: left;
    margin-left: 0.7rem;
}

.btn_plus {
    float: right;
    margin-bottom: 1rem;
    margin-right: 0.3rem;
    background-color: white;
    border: none;
}

.btn_plus:hover a {
    color: orangered;
}

.btn_plus a {
    color: black;
    font-size: 30px;
}

/* =====================main - subtitle===================== */
.new_rec {
    text-align: center;
    margin: 3rem;
}

.new_rec h3 {
    color: orangered;
}

.new_rec p {
    font-size: 12px;
    color: darkgray;
}

/* =====================main - new_slide_poster===================== */
.new_slide_poster {
    margin-bottom: 8rem;
}

.new_slide_poster p {
    text-align: right;
    color: darkgray;
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;
}