/* =====================main - new_slide_poster===================== */
.new_slide_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new_slide_img {
    display: inline-block;
    width: 100%;
    min-width: 1050px;
    height: 500px;
    overflow: hidden;
}

.new_slide_img img {
    position: relative;
    top: -45%;
    width: 100%;
    object-fit: cover;
}

.new_slide_img a:nth-of-type(1),
.new_slide_img a:nth-of-type(3) {
    display: none;
}