/*------- 왼쪽 결제 정보입력(체크아웃)영역 -------*/

.check_box{
 display: flex;
}

.check_left {
 width: 75%;
}

/* h2 {
 font-size: 44px;
 text-align: center;
 text-transform: capitalize;
} */

.check_left h3 {
 font-size: 24px;
 font-weight: normal;
 margin: 30px 0 10px 0;
}

.check_left>p {
 color: gray;
 font-size: 12px;
 letter-spacing: 20px;
 white-space: nowrap;
 text-align: center;
 margin-top: 20px;
}

.ch_sec {
 margin: 0;
 color: black;
 font-weight: bold;
}

.check_left .checkout {
 display: flex;
 justify-content: space-between;
 width: 100%;
}

.direct_pay_bar {
 position: fixed;
 top: 0;
 right: 0;

}

.checkout p>span {
 color: orangered;
}

table {
 border-collapse: collapse;
}

.check_left table {
 width: 100%;
 border-top: 2px solid #000;
 border-bottom: 2px solid #000;
}

.check_left table tr {
 border-bottom: 1px solid #aaa;
}

.check_left table tr:last-child {
 border: none;
}

.check_left table th,
.check_left table td {
 padding: 0 20px;
 height: 70px;
}

.check_left input,
.check_left select {
 background-color: #eee;
 padding: 2px 10px;
 border: 1px solid #000;
 outline: none;
 margin: 0;
}

/* 배송지 정보 */

.information th>span {
 color: orangered;
}

.receiver input {
 width: 300px;
 height: 20px;
}

.receiver_phone>select {
 height: 25px;
}

.receiver_phone input {
 width: 60px;
 height: 20px;
}

.customer_address input {
 width: 250px;
 height: 20px;
}

.customer_address p {
 margin-top: 5px;
}

.customer_address p>input {
 width: 400px;
 height: 20px;
}

.customer_address p>input+input {
 width: 200px;
 height: 20px;
}

.message input {
 width: 300px;
 height: 20px;
}

/* 주문상품 */
.item {
 text-align: center;
}
.item_name,
.item_price {
 font-size: 14px;
}
.item_name {
 margin-top: 5px;
}

.item_img img {
 margin: auto;
 width: 150px;
 display: block;
}

.item tr:nth-last-of-type(1) span {
 color: orangered;
}

.item tr:last-child td {
 height: 30px;
 vertical-align: top;
}

/* 할인받기 */
.discount td span {
 margin: 0 5px 0 3px;
}
.checkout_cou {
    width: 200px;
    text-align: center;
}



/* 결제수단 */

.pay tr:not(:last-child) th {
 text-align: left;
 padding-left: 70px;
}

.pay tr:nth-last-of-type(2) th {
 background-color: #eee;
 text-align: left;
}


.pay tr:nth-last-of-type(1) th {
 text-align: justify;
 color: gray;
 font-size: 12px;
 background-color: #eee;
}

.pay tbody tr th a {
 margin-right: 100px;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* 오른쪽 quick_menu 영역*/

.check_right {
 width: 25%;
 height: auto;

 padding: 0 10px;
}

.check_right h3 {
 font-size: 24px;
 text-align: center;
 padding: 20px 0;
 border-bottom: 1px solid #000;
}

.side_pay table {
 margin: auto;
}

.side_pay1 {
 background-color: #eee;
}

.side_pay1 tr {
 height: 40px;
}

.side_pay1 tr td,
.side_pay1 tbody th {
 text-align: center;
 width: 150px;
}

.side_pay2 {
 box-sizing: border-box;
 border: 1px solid black;
 font-size: 12px;
 padding-top: 20px;
 margin-top: 10px;
 width: 100%;
}

.side_pay2 tr input[type="checkbox"] {
 margin: 0 3px;
 vertical-align: top;
}
.side_pay2 tr button {
 border: 0px solid;
 color: gray;
}
.side_pay2 th span {
 width: 75%;
 display: inline-block;
 text-align: left;
}

.side_pay2 table th {
 text-align: justify;
 width: 100%;
}
.side_pay3{
 width: 100%;
}
.total_button {
width: 100%;
height: 45px;
background-color: #000;
color: #fff;
border: 0px solid;
cursor: pointer;
margin-top: 20px;
}

.modal_cover1 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #0009;
}

.modal_2 {
    width: 30%;
    height: 500px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 990px;
    background-color: white;
}
.modal_2_t {
    border-collapse: collapse;
    height: 200px;
}

.modal_2_t>tr:nth-of-type(1) {
    border-top: 3px solid;
}

.modal_2_t>tr>th,
.modal_2_t>tr>td {
    padding: 10px;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}
.third_column {
    border-right: none;
}

.Join_Modal02 .text_underLine2{
    margin-top:7px;
}

.Join_Modal02 .text_underLine2>li {
    font-weight: bold;
    text-decoration: underline;
}

/* ========================================= */



.close_button{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 120px;
    line-height: 35px;
    text-align: center;
    background-color: black;
    border: none;
    color:#fff;
    display:flex;
    align-items: center;
    justify-content: center;
}





