
body {
    min-width: 1260px;
}

.main_photo {
    width: 55%;
}

.main_photo img {
    width: 80%;
    height: 80%;
}

.sub_photo .sub_photo a {
    display: inline-block;
}

.sub_photo img {
    width: 13%;
    height: 15%;
    margin-top: 8px;
    margin-left: 3px;
}


section {
    margin-top: 10px;
    display: flex;
}

section .choice {
    display: flex;
    flex-direction: column;
    gap: 45px;

}

section .choice div:first-child{
    display: flex;
    justify-content: space-between
}
section .choice div:first-child span{
  margin-right: 10px;
}
section .choice div:first-child span em{
font-style: normal;
color: orangered;
}



section .choice div:not(:nth-of-type(4)) {
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    padding: 25px;
}


.choice_button{
    display: flex;
    align-items: center;
    gap: 15px;
}

.choice_button a{
    margin-top: 20px;
    width: 40%;
    height: 50px;
    line-height: 50px;
    background-color: white;
    border: 1px solid #000;
    text-align: center;
    box-sizing: border-box;

}

.choice_button a:nth-child(3){
    margin-top: 20px;
    border: 2px solid #aba8a8;
    height: 50px;
    line-height: 50px;
    width: 12%;
    text-align: center;
    box-sizing: border-box;

}

.choice_button i {
    font-size: 24px;
    color: orangered;
}


section .choice a:nth-child(2) {
    background-color: black;
    color: white;
    /* border: 1px solid; */
}

section .choice select {
    height: 30px;
}

section .choice div:nth-of-type(3) strong {
    margin-right: 300px;
}



/* ==================nav===================================================== */
.nav{
    margin: 60px 0;
}

.nav ul {
    width: 100%;
    display: flex;
}

.nav ul li {
    width: 25%;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid;
}

.nav ul li a {
    color: black;
}

.nav1 ul li:nth-of-type(1) {
    background-color: #eee;
    font-weight: 700;
}

.nav2 ul li:nth-of-type(2) {
    background-color: #eee;
    font-weight: 700;
}

.nav3 ul li:nth-of-type(3) {
    background-color: #eee;
    font-weight: 700;
}

.nav4 ul li:nth-of-type(4) {
    background-color: #eee;
    font-weight: 700;
}



/* ====================detail 섹션=============================================== */
.product_detail{
    text-align: center;
}

.product_detail strong{
    color: orangered;
}

.detail {
    text-align: center;
}

.detail img {
    width: 60%;
    height: 40%;
    margin-top: 30px;
}

/* ==========================리뷰============================================= */


.review_score_percent {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.review_score_percent .review_left {
    align-self: center;
    margin-left: 60px;
    font-size: 18px;
    flex: 4;
}

.review_score_percent .review_left p {
    font-size: 12px;
    margin-bottom: 10px;
}

.review_score_percent .review_left #star_icon {
    font-size: 30px;
    color: orangered;

}

.review_score_percent .review_right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 6;
}

#star_score {
    font-size: 30px;
}

.review_right strong {
    display: inline-block;
    margin-right: 20px;
    width: 90px;
}

.bar {
    height: 10px;
    border: 1px solid;
    border-radius: 20px;
    width: 300px;
    display: inline-block;
}

#top_bar {
    background-color: black;
}

/* ========================================== */

.review_nav {
    display: flex;
    gap: 10px;
}

.star_id_date {
    display: flex;
    justify-content: space-between;
}

.customer_review {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-around;
    margin: 20px 20px 0;
}

/* ======================================== */
.customer_review_button button {
    background-color: white;
    border: 0;
}

.customer_review_button {
    display: flex;
    justify-content: space-between;
}

.customer_review_button a {
    font-size: 12px;
}

/* ============================================================= */

.q_a_button {
    display: flex;
    justify-content: flex-end;
    border: none;
    margin-right: 20px;
}

.q_a_button a {
    background-color: black;
    color: white;
    width: 70px;
    text-align: center;
    line-height: 30px;
}


.customer_q_a {
    margin: 30px;
    height: 80px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
}

#q_a_answer_complecation {
    flex: 1;
}

#q_a_answer_complecation em {
    font-style: normal;
    border: 1px solid;
    border-radius: 10%;
    padding: 1px;
    background-color: #eee;
}

#q_a_inquiy {
    flex: 6;
}

#q_a_user_id {
    flex: 1;
}

#q_a_date {
    flex: 1;
}

.customer_q_a_next_page{
    text-align: center;
    margin-bottom: 30px;
}
.customer_q_a_next_page button{
    border: none;
    background-color: white;
    margin:3px
}
.customer_q_a_next_page button a{
   font-size: 12px;
}
/* =======return&delivery================================ */
.return_delivery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-left: 30px;
    margin-bottom: 60px;
    
}

.return_delivery_content{
    border: 1px solid;
    border-collapse: collapse;
}

.return_delivery_content tr,
.return_delivery_content td
{
    border: 1px solid #eee;
}

.return_delivery_content td ul {
    padding: 10px;
}
.return_delivery_content td ul li{
    list-style: circle;
    margin-bottom: 3px;
    margin-left: 30px;
}

.return_delivery_content th{
    background-color: #eee;
    width: 100px;
    padding: 10px;
}

