.modal_cover1 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #0009;
}

.modal_2 {
    width: 30%;
    height: 500px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 990px;
    background-color: white;
}
.modal_2_t {
    border-collapse: collapse;
    height: 200px;
}

.modal_2_t>tr:nth-of-type(1) {
    border-top: 3px solid;
}

.modal_2_t>tr>th,
.modal_2_t>tr>td {
    padding: 10px;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}
.third_column {
    border-right: none;
}

.Join_Modal02 .text_underLine2{
    margin-top:7px;
}

.Join_Modal02 .text_underLine2>li {
    font-weight: bold;
    text-decoration: underline;
}

/* ========================================= */



.close_button{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 120px;
    line-height: 35px;
    text-align: center;
    background-color: black;
    border: none;
    color:#fff;
    display:flex;
    align-items: center;
    justify-content: center;
}