button {
    font-size: 14px;
    background: none;
    border: none;
}

.cover tbody>tr {
    border-bottom: 1px solid #ddd;
}

.cover th {
    height: 60px;
    border-bottom: 1px solid #000;
    font-size: 16px;
    padding: 5px;
}

.cover td {
    height: 100px;
    padding: 5px;
}

.cover td .delivery {
    margin-top: 5px;
}

.cover td .delivery>button {
    padding: 3px 5px;
    background-color: #000;
    color: #fff;
}

.cover td .delivery>button:hover {
    background-color: orangered;
}

.orderlist .order_title {
    display: flex;
    justify-content: space-between;
}

.orderlist .order_title span {
    align-self: end;
    margin-bottom: 5px;
}

button.review:hover {
    text-decoration: underline;
}

.orderlist .product p {
    color: #aaa;
}