.tBodyInqProdItems {
    font-size: 18px;
}

.tBodyInqProdItems td{
    padding-left: 0.2rem;
}

.tBodyInqProdItems tr td:nth-child(3) #curPointer {
    width:480px;
    display:inline-block;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.qnaAnswer_td {
    color: orangered;
}