/* =====================main - NEWS===================== */
.newsZ_index {
    z-index: 999;
}

.news {
    margin: 8rem 0;
}

.news span {
    font-size: 24px;
}

.news hr {
    margin-top: 0.5rem;
}

.news button {
    font-size: 18px;
    background-color: white;
    border: none;
}

.news_list p{
    margin: 1rem 0;
}

.newsCloseBTN {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
}

.newsCloseBTN button {
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 16px;
    width: 120px;
    height: 35px;
}

.newsConWS {
    white-space: pre-line;
}

.noNewsList {
    color: #a3a3a3;
    text-align: center;
    padding: 70px;
}