.modal_cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #0009;
}

.modal_2 {
    width: 30%;
    height: 500px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 990px;
    background-color: white;
}
.modal_2_t {
    border-collapse: collapse;
    height: 200px;
}

.modal_2_t tr:nth-of-type(1) {
    border-top: 3px solid;
}

.modal_2_t tr th,
.modal_2_t tr td {
    padding: 10px;
    border-bottom: 0px solid;
    border-right: 1px solid #eee;
}
.third_column {
    border-right: none;
}
.text_underLine2 {
    font-weight: bold;
    text-decoration: underline;
}

/* ========================================= */



.close_Join_modal2{
    color: white;
    background-color: black;
    border: 0;
    color: white;
    text-decoration: none;
 
}


 