hr {
    color: #eee;
}

/* ==================sidebar================= */
/* ==================main input================= */
.log_input input {
    border: 1px solid #000;
    margin-left: 10px;
    background-color: #eee;
    padding-left: 10px;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 20px;
}
.login button {
    height: 83px;
    width:  130px;
    background-color: #000;
    color: white;
    border: 0px;
    font-size: 20px;
}
.login {
    margin-top: 50px;
}
.log_input {
    height: 100px;
}
.log_input td input {
    width: 300px;
    height: 30px;
    border: 0px solid;
}

.log_input th {
    font-size: 16px;
}

.log_input tr:nth-of-type(3) th{
    align-self: center;
}


.remember {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0 30px -100px;
}
.remember a {
    margin-left: 50px;
}
/* ================================ */




.new_join_wrap {
    font-size: 20px;
    height: 100px;
    width: 600px;
    display: flex;
    align-items: center;
    margin: 50px auto;

}

.join_sns {
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.join_sns>p {
    opacity: .4;

}


.join_opt ul {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.join_opt li{
    height: 46px;
}


.join_opt li img {
    border: 0px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/* ================================= */
/* ==============main=============== */

.error_message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.error_message span {
    color: orangered;
}

.join_opt button{
    height: 0px;
    border: 0px;
    cursor: pointer;
    
}