/* =====================main - subtitle===================== */
.new_rec {
    text-align: center;
    margin: 3rem;
}

.new_rec h3 {
    color: orangered;
}

.new_rec p {
    font-size: 12px;
    color: darkgray;
}

/* =====================main - (glass / sunglass) 레이아웃 똑같음===================== */
.new_glass {
    margin-bottom: 8rem;
}

.new_glass_title {
    display: inline-block;
    text-align: left;
    margin-left: 0.7rem;
}

.btn_plus {
    float: right;
    margin-bottom: 1rem;
    margin-right: 0.3rem;
    background-color: white;
    border: none;
}

.btn_plus:hover a {
    color: orangered;
}

.btn_plus a {
    color: black;
    font-size: 30px;
}

.new_glass_img {
    width: 100%;
    min-width: 1050px;
    margin-top: 1.5rem;
}

.new_glass_img ul {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.new_glass_img ul li {
    width: 25%;
    margin: 0 0.3rem;
}

.new_glass_img ul li a,
.new_glass_img ul li a img {
    display: block;
    width: 100%;
}

.new_glass_img ul li a:nth-of-type(2) {
    display: none;
}

.new_glass_img ul li:hover a:nth-of-type(1) {
    display: none;
}

.new_glass_img ul li:hover a:nth-of-type(2) {
    display: block;
}
/* =====================main - new_slide_poster===================== */

.new_slide_poster {
    margin-bottom: 8rem;
}

.new_slide_poster p {
    text-align: right;
    color: darkgray;
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;
}

.new_slide_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new_slide_img {
    display: inline-block;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.new_slide_img img {
    position: relative;
    top: -45%;
    width: 100%;
    object-fit: fill;
}

.new_slide_img a:nth-of-type(1),
.new_slide_img a:nth-of-type(3) {
    display: none;
}