body * {
    margin: 0;
    padding: 0;
}

/* =====================main - subtitle===================== */
.new_title {
    text-align: center;
    margin: 4rem;
}

.new_title h2 {
    font-size: 44px;
}

.new_title ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.new_title li {
    float: left;
    font-size: 12px;
    color: darkgray;
}

.new_rec {
    text-align: center;
    margin: 4rem;
}

.new_rec h3 {
    font-size: 24px;
    color: orangered;
}

.new_rec p {
    font-size: 12px;
    color: darkgray;
    margin-bottom: 8rem;
}

/* =====================main - glass / sunglass===================== */
.new_glass {
    margin-bottom: 8rem;
}

.new_glass_title {
    text-align: left;
    font-size: 24px;
    margin-left: 0.7rem;
}

.btn_plus {
    float: right;
    margin-right: 0.7rem;
    background-color: white;
    border: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
}

.new_glass_img {
    width: 100%;
    min-width: 1050px;
    margin-top: 1.5rem;
}

.new_glass_img ul {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.new_glass_img ul li {
    width: 25%;
    margin: 0 0.3rem;
}

.new_glass_img ul li a,
.new_glass_img ul li a img {
    display: block;
    width: 100%;
    height: 400px;
}

/* =====================main - new_slide_poster===================== */

.new_slide_poster {
    margin-bottom: 8rem;
}

.new_slide_poster p {
    text-align: right;
    color: darkgray;
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;
}

.new_slide_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new_slide_img {
    width: 100%;
    display: inline-block;
}

.new_slide_img img {
    width: 100%;
    height: 40rem;
    object-fit: fill;
}

.new_slide_img a:nth-of-type(2) {
    visibility: hidden;
}

.new_slide_img a:nth-of-type(3) {
    visibility: hidden;
}

.new_slide_img a:nth-of-type(4) {
    visibility: hidden;
}