.basket_table tbody tr {
    height: 130px;
    font-size: 14px;
}

.basket_table tr th:first-of-type {
    width: 5%;
}

.basket_table tr th:first-of-type input {
    cursor: pointer;
}

.basket_table thead tr th:nth-of-type(2) {
    width: 52%;
}

.basket_table thead tr th:nth-of-type(3) {
    width: 15%;
}

.basket_table thead tr th:nth-of-type(3) {
    width: 28%;
}

.goods_name {
    width: 52%;
    display: flex;
    margin: calc((130px - 110px)/2) 2rem;
}

.goods_name img {
    width: 110px;
    height: 110px;
}

.goods_name a {
    margin-top: 0.5rem;
    margin-left: 0.8rem;
}

.goods_quantity {
    width: 15%;
    text-align: center;
}

.goods_quantity select {
    cursor: pointer;
}

.goods_price {
    width: 28%;
    text-align: center;
}

.changeCquan {
    background-color: #eee;
    padding: 3px 5px;
    margin-left: 5px;
    cursor: pointer;
}