.basket_payment {
    position: sticky;
    top: 210px;
    margin-left: 2rem;
    background-color: #eee;
    width: 25%;
    min-width: 300px;
    height: 300px;
    text-align: center;
}

.basket_payment h3{
    font-size: 20px;
    margin: 1rem 0 1rem 0;
}

.basket_payment hr {
    margin-bottom: 2rem;
}
.basket_payment ul {
    height: 180px;
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
    list-style: none;
}

.basket_payment ul li {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.basket_payment ul li strong {
    font-size: 16px;
    margin: 0.2rem;
}

.orderCheckItems {
    font-size: 16px;
    display: block;
    border: none;
    background-color: black;
    color: white;
    width: 100%;
    line-height: 50px;
    cursor: pointer;
}