.check_box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

/* check_left */

.check_left {
    width: calc(100% - 300px - 20px);
}

.check_left form>div {
    margin-bottom: 70px;
}

/* checkout_table -- table의 공통 속성 */

.checkout_table {
    width: 100%;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.checkout_table tbody tr:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.check_left table tbody tr>th,
.check_left div div:not(:nth-child(3)) table tbody tr>td{
    padding: 20px 10px;
}

.checkout_table input {
    padding: 0 5px;
    box-sizing: border-box;
}

.checkout_table input:not([type="radio"]),
.checkout_table select {
    height: 25px;
    border: 1px solid #000;
}

/* Information */
.information .checkout {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.information .checkout>p {
    margin: 0 5px 5px 0;
}

.information .checkout>p span.color,
.information tbody tr th>span {
    color: orangered;
}

.information_table input,
.information_table select {
    background-color: #eee;
}

.information_table .address label:not(:first-child) {
    margin-left: 15px;
}

.information #receiver_phone_read {
    width: 80px;
}

.information .customer_address p input:first-child {
    width: 50%;
}

.information .message>input {
    width: 78%;
}

.information th {
    width: 180px;
}

.information .customer_address>input:nth-child(1) {
    margin-bottom: 5px;
}

/* item */
.item_table tbody tr th:not(:first-child) {
    width: 150px;
}

.item_table tbody tr td{
    padding:10px;
}

.item_table tbody .itemComp td:not(:first-child) {
    text-align: center;
}

.item_table tbody .itemComp .item_img {
    display: flex;
    align-items: center;
}

.item_table tbody .itemComp .item_img a {
    display: inline-block;
    margin-left: 30px;
}

.item_table tbody .itemComp .item_img a img {
    width: 120px;
}

.item_table tbody tr:last-child>td {
    padding: 5px 10px 15px 10px;
    font-size: 12px;
}

.item_table tbody tr:last-child>td span {
    color: orangered;
}

/* pay */

.pay {
    text-align: left;
}

.pay_table tbody>tr:nth-child(n+3) {
    background-color: #eee;
}

.pay_table tbody>tr>th {
    padding-left: 10%;
}

.pay_table tbody>tr>td {
    padding: 5px 4%;
}

.pay_table tbody>tr>th input+span {
    margin-left: 3px;
}

.pay_table tbody>tr>th>a:not(:first-child) {
    margin-left: 50px;
}

.pay_table tbody>tr>th>select {
    width: 120px;
}

.pay_table tbody>tr>th>select:nth-child(2) {
    margin-left: 7px;
}

.pay_table tbody>tr>td>p {
    font-size: 12px;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* check_right */
.check_right {
    width: 300px;
}

.check_right .side_pay {
    position: fixed;
    top: 191px;
    transition: top 0.3s;
}

.check_right .side_pay.lock {
    position: fixed;
    top: 0;
}
/* .side_pay1 */
.check_right .side_pay1 {
    background-color: #eee;
}

.check_right .side_pay1>h3 {
    line-height: 75px;
    text-align: center;
    border-bottom: 1px solid #000;
}

.check_right .side_pay1 table,
.check_right .side_pay1 table tbody,
.check_right .side_pay1 table tbody tr {
    width: 100%;
}

.check_right .side_pay1 table tbody tr th,
.check_right .side_pay1 table tbody tr td {
    width: 50%;
}

.check_right .side_pay1 table tbody tr {
    text-align: center;
    height: 40px;
}

.check_right .side_pay1 table tbody tr:last-child {
    height: 50px;
    background-color: #ccc;
    font-size: 16px;
    font-weight: bold;
}

/* side_pay2 */

.side_pay2 {
    width: 100%;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    box-sizing: border-box;
    padding: 15px;
    font-size: 12px;
    text-align: left;
    margin-top: 2.5px;

}

.side_pay2 .side_pay_table > tbody > tr > th {
    padding: 2px;
}

.side_pay2 tr input[type="checkbox"] {
    position: relative;
    top: 2px;
}

.side_pay2 tr input[type="checkbox"]+span {
    margin-left: 3px;
    text-align: justify;
    word-break: break-all;
}

.side_pay2 tr input[type="checkbox"]+span>button {
    font-size: 12px;
    padding: 2px 3px;
    border: 1px solid #000;
    margin-left: 5px;
}

.side_pay2 tr input[type="checkbox"]+span>button:hover {
    background-color: #000;
    color: #fff;
}


/* 모달 정상 노출을 위한 z-index */

.modal_cover,
.modal_cover1 {
    z-index: 99;
}

.side_pay>button {
    width: 100%;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
}

.side_pay>button:hover {
    background-color: orangered;
}