.modal_cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #0009;
}

.modal {
    background-color: #fff;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    min-width: 1115px;
}

table {
    border: 1px solid;
    width: 550px;
}

table tr,th,td {
    height: 50px;
    border-bottom: 1px solid;
}

table tr:nth-of-type(1) {
    margin-bottom: 10px;
}
table tr:nth-of-type(1) a{
    color: black;
    float: right;
    width: 20px;
}
table td {
    font-size: 14px;
    color: gray;
}
table tr:nth-of-type(2) td {
    border: 0px;
}
table tr:nth-of-type(3) td {
    border: 0px;
}
table tr:nth-of-type(4) td {
    border: 0px;
}
table tr:nth-of-type(5) td {
    border: 0px;
}
table tr:nth-of-type(6) td {
    border: 0px;
}
table tr:nth-of-type(7) td {
    border: 0px;
}
table tr:nth-of-type(7) button{
    border: 0;
    width: 120px;
    height: 35px;
    background-color: black;
    margin-left: 40%;
}
table tr:nth-of-type(7) a {
    color: #fff;
    text-decoration: none;
}
