main div,
table {
    width: 80%;
    margin: auto;
}

/* #title{
    text-align: center;
}

#title h2 {
    display: inline-block;
    font-size: 44px;
    margin: 28px auto;
} */

/* ============================ */
main div:nth-of-type(2) {
    text-align: right;
    font-size: 8px;
}

.point_color{
    color: orangered;

}
/* =================================== */

table {
    
    min-width: 628px;
    border-bottom: 1px solid black;
    height: 300px;
    border-collapse: collapse;
}

table #sale_coupon {
    text-align: center;
    background-color: orangered;
}

table td div {
    width: 100%;
    height: 25px;
}

#sale_coupon strong {
    font-size: 15px;
    color: white;
}

#sale_coupon em {
    font-size: 10px;
    font-style: normal;
    color: white;
}

/* ============================= */

table tbody td {
    height: 20px;
}

/* ============================================== */

table tbody th,
td {
    border-top: 1px solid rgb(228, 228, 228);
}

tbody tr {
    text-align: left;
}

tbody th {
    padding-left: 20px;
}

.input_box {
    width: 300px;
    height: 29px;
    text-align: left;
    background-color: #eee;
    border: 0;
    padding-left: 10px;
}

#last_input_box {
    height: 30px;
}

/* ================================ */
main ul {
    text-align: left;
    min-width: 400px
}

div:nth-last-of-type(3) {
    margin-top: 70px;
}

#letter {
    display: block;
    font-size: 5px;
    white-space: right;
    padding-left: 20px;
}

/* ==================================== */

div:nth-of-type(4) {
    margin-top: 50px;
}

div:nth-of-type(4) ul li {
    background-color: #eee;
    margin-top: 2px;
    line-height: 40px;
    padding-left: 10px;
}


.content_button{
    width: 60px;
    height: 25px;
    margin: calc((35px - 25px)/2) 20px;
    background-color: #eee;
    border: 1px solid gray;
    float: right;
}


/* ====================================================================== */


.join_button{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.join_button button{
    width: 150px;
    line-height: 40px;
    background-color: white;
    border: 0.5px solid;
}

#right_button {
    background-color: black;
}

.join_button button a {
    text-decoration: none;
    color: white;
}

/* ========================================================== */

