/* =====================main - (glass / sunglass) 레이아웃 똑같음===================== */
.new_glass_img {
    width: 100%;
    min-width: 1050px;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
}

.new_glass_img li {
    width: 25%;
    margin: 0 0.3rem;
}

.new_glass_img li img {
    width: 100%;
}

.new_glass_img img:nth-of-type(2) {
    display: none;
}

.new_glass_img li:hover img:nth-of-type(1) {
    display: none;
}

.new_glass_img li:hover img:nth-of-type(2) {
    display: block;
}