.logo img {
    width: 150px;
    height: 100px;
    margin: 0;
}
img {
    width: 1100px;
    margin-bottom: 100px;
}
.collection>h2 {
    font-size: 44px;
    color: gray;
    font-family: serif;
    margin: 100px;
}
.collection {
    margin-top: 50px;
    text-align: center;
    height: 8400px;
}
.collection li {
    /* margin: 50px 0 0 0; */
}
.collection li:nth-child(even) {
    float: left;
}
.collection li:nth-child(odd) {
    float: right;
}
