* {
    text-decoration: none;
    border-collapse: collapse;
    color: black;
}
.modal_cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #0009;
}

.modal {
    background-color: #fff;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    min-width: 1115px;
}

table {
    border-collapse: collapse;
    width: 600px;
}

table tr,
th,
td {
    height: 50px;
    border: 1px solid;
}

/* ============================= */
table tr:nth-of-type(1) a {
    color: black;
    float: right;
    width: 20px;
}

table tr:nth-of-type(1) th {
    border-bottom: 2px solid;
    text-align: center;
}

/* ============================ */
table tr:nth-of-type(2) th {
    border-bottom: 2px solid;
}
table tr:nth-of-type(2) a {
    border: 0px solid;
    margin: 0 50px;
}

table tr:nth-of-type(2) a+a {
    border: 1px solid;
    border-bottom: 0px;
}

table tr:nth-of-type(2) span {
    margin: 0 10px;
}

/* =================================== */
table tr:nth-of-type(3) td {
    font-size: 14px;
}
.cou_2_1 {
    margin-left:90px;
    
}
.cou_3_1{
    margin-left:90px;
}
.cou_4_1 {
    margin-left:40px;
}
.cou_5_1 {
    margin-left:55px;
}
/* ========================= */

table tr:nth-of-type(4) td {
    font-size: 14px;
}
.cou_1 {
    margin: 0 30px;
}
.cou_2 {
    margin-left:25px;
    
}
.cou_3 {
    margin-left:20px;
}
.cou_4 {
    margin-left:35px;
}
.cou_5 {
    margin-left:25px;
}


/* ===================================== */

table tr:nth-of-type(5) td {
    font-size: 14px;
}

.cou_2_2{
    margin-left:40px;
    
}
.cou_3_2{
    margin-left:38px;
    
}
.cou_4_2{
    margin-left:35px;
    
}
.cou_5_2{
    margin-left:24px;
    
}



/* =================================== */
table tr:nth-of-type(6) button {
    background-color: white;
    border: 1px solid;
    width: 120px;
    height: 35px;
}

table tr:nth-of-type(6) button+button {
    background-color: #000;

}

table tr:nth-of-type(6) button+button>a {
    color: #fff;

}