* {
    text-decoration: none;
    border-collapse: collapse;
    color: black;
}
.modal_cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #0009;
}

.modal {
    background-color: #fff;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


body {
    min-width: 1115px;
}

table {
    border-collapse: collapse;
    width: 600px;
}

table tr,
th,
td {
    height: 50px;
    border: 1px solid;
}

/* ============================= */
table tr:nth-of-type(1) a {
    color: black;
    float: right;
    width: 20px;
}

table tr:nth-of-type(1) th {
    border-bottom: 2px solid;
    text-align: center;
}

/* ============================ */
table tr:nth-of-type(2) th {
    border-bottom: 2px solid;
}
table tr:nth-of-type(2) a {
    border: 1px solid;
    border-bottom: 0px;
    margin: 0 50px;
}

table tr:nth-of-type(2) a+a {
    border: 0px solid;

}

table tr:nth-of-type(2) span {
    margin: 0 10px;
}

/* =================================== */
table tr:nth-of-type(3) td {
    font-size: 14px;
}
table tr:nth-of-type(3) i {
    border: 1px solid;
    background-color: #000;
    color: #fff;
    width: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
}
table tr:nth-of-type(3) span+span {
    color: orangered;
}

/* ========================= */

table tr:nth-of-type(4) span {
    margin: 0 50px;
    border-bottom: 0px;
}

/* ===================================== */

table tr:nth-of-type(5) th {
    height: 150px;
    text-align:center;
    
}

table tr:nth-of-type(5) img {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    margin: 0 10px;
}

table tr:nth-of-type(5) span {
    margin: 0 60px;
    font-weight: normal;
}

table tr:nth-of-type(5) select {
    width: 150px;
}

/* =================================== */
table tr:nth-of-type(6) button {
    background-color: white;
    border: 1px solid;
    width: 150px;
    height: 40px;
}

table tr:nth-of-type(6) button+button {
    background-color: #000;

}

table tr:nth-of-type(6) button+button>a {
    color: #fff;

}