.img_box {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: #000;
    position: relative;
}

.img_box a,
.img_box a img {
    display: block;
    width: 100%;
    height: auto;
    opacity: .9;
}

.img_box a img {
    position: absolute;
    top: -60px;
    left: 0;
}

.result_cover {
    text-align: center;
    margin: 100px 0;
}

.result_cover span {
    display: block;
    line-height: 30px;
}

.result_cover h2 {
    font-size: 24px;
}

.button_cover {
    padding: 50px 0;
    display: inline-block;
}

.button_cover .button {
    float: left;
}

.button_cover .button a {
    padding: 10px 20px;
    display: block;
    background-color: #fff;
    border: 1px solid #000;
    float: left;
}

.button_cover .button:last-of-type a {
    background-color: #000;
    color: #fff;
}

.button_cover .button:first-child {
    margin-right: 20px;
}