/* =====================common===================== */
.spanRed {
    color: red;
}



/* ====================layout================== */
/* =====================main===================== */
.cs1on1_title {
    text-align: center;
    margin: 4rem;
}

.cs1on1_title h2 {
    font-size: 44px;
}

.cs1on1_title ul {
    display: inline-block;
    font-size: 12px;
}

.cs1on1_title ul li {
    float: left;
}

.cs1on1_subtitle {
    font-size: 24px;
    margin: 4rem 0 0.5rem 0;
}

.cs1on1_subtitle h3 {
    display: inline-block;
}

.cs1on1_subtitle p {
    display: block;
    float: right;
    font-size: 12px;
    margin-top: 1rem;
}

/* =====================main - table 기본 설정 ===================== */

table {
    border: solid 2px black;
    border-right: none;
    border-left: none;
    border-collapse: collapse;
    width: 100%;
}

table th {
    border-bottom: solid 1px darkgray;
    height: 100px;
    width: 30%;
    min-width: 30%;
    text-align: center;
    padding-right: 60px;
    font-size: 18px;
}

table td {
    border-bottom: solid 1px darkgray;
    width: 70%;
}
/* ==================main - table - 회원정보 ================ */
.tr_custInfo input {
    height: 35px;
    width: 174px;
    background-color: rgb(233, 232, 232);
    border: none;
    padding-right: 26px;
}

/* ==================main - table - 문의유형 ================ */
.tr_inquiry select {
    height: 30px;
    width: 200px;
    background-color: rgb(233, 232, 232);
    border: none;
    cursor: pointer;
}

.tr_inquiry select option {
    background-color: white;
}

.tr_inquiry select+span {
    font-size: 12px;
    margin-left: 2rem;
}
/* ==================main - table - 답변알림 ================ */
.tr_replyAlert input,
.tr_replyAlert select {
    text-align: center;
    height: 30px;
    background-color: rgb(233, 232, 232);
    border: none;
}

.tr_replyAlert select {
    width: 70px;
    cursor: pointer;
}

.tr_replyAlert select option {
    background-color: white;
}

.tr_replyAlert input[type="text"] {
    width: 70px;
}

.tr_replyAlert div {
    font-size: 12px;
    display: inline-block;
    margin-left: 2rem;
}

.tr_replyAlert div input {
    height: auto;
    cursor: pointer;
}

/* ==================main - table - 제목 ================ */
.tr_inqTitle input {
    height: 30px;
    width: 200px;
    background-color: rgb(233, 232, 232);
    border: none;
    text-align: left;
}

/* ==================main - table - 문의 내용 ================ */
.tr_inqContent th {
    height: 500px;
}

.tr_inqContent div {
    margin: 1.5rem 1.5rem 1.5rem 0;
}

/* ==================main - table - 파일첨부 ================ */


/* 모르겠삼 */


/* ==================main - 개인정보 동의 ================ */
.privacy_Agree {
    background-color: rgb(233, 232, 232);
    height: 50px;
    line-height: 50px;
    margin: 4rem 0;
    cursor: pointer;
}

/* ==================main - 게시물 등록 버튼 ================ */
.btn_sumit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}

.btn_sumit a {
    color: white;
    text-decoration: none;
}

.btn_sumit button {
    border: none;
    margin: 0 0.8rem;
    width: 110px;
    height: 40px;
    cursor: pointer;
}

.btn_sumit button:nth-of-type(1) {
    background-color: darkgray;
    border: 1px solid darkgray;
}

.btn_sumit button:nth-of-type(2) {
    background-color: black;
    border: 1px solid black;
}