.cs_sch {
    display: grid;
    grid-template-columns: 7fr 3fr;
    border: 3px solid black;
    height: 160px;
    width: 100%;
    min-width: 1200px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}

.cs_schLeft * {
    display: inline-block;
}

.cs_schLeft span {
    font-size: 24px;
    text-align: left;
    margin-right: 2rem;
}

.cs_schLeft input {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    width: 600px;
    font-size: 16px;
    outline: none;
}

.cs_schRight {
    min-width: 333px;
    border-left: 3px solid black;
    color: black;
}

.cs_schLeft button {
    background-color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.cs_schLeft,
.cs_schRight {
    margin-top: 2rem;
}


/* 리스트 뜨는 css 수정해야 함 */
.schFAQbtn {
    margin-left: 13rem;
    margin-bottom: 10rem;
    /* background-color: #eee; */
    background-color: white;
    border: 0.5px #ddd solid;
    border-top: none;
    width: 600px;
}