/* =====================main - 자주 찾는 질문===================== */
.freq_ask {
    margin-top: 8rem;
}

.freq_ask hr {
    margin-top: 0.5rem;
}

.freq_ask p {
    margin: 1rem 0;
}

.freq_ask button {
    border: none;
    background-color: white;
    color: black;
    font-size: 18px;
}

/* =========================== */
.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pop_CS {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    height: auto;
    width: 600px;
    padding: 1.5rem 1.5rem 0 1.5rem;
    text-align: left;
}

.pop_CS span {
    font-size: 18px;
    margin: 1.5rem 0 0.5rem 1rem;
}

.pop_CS p {
    height: auto;
    width: 560px;
    font-size: 12px;
    background-color: #eee;
    border-top: 3px black solid;
    padding: 0.8rem;
    margin-bottom: 0;
}

.btn_close {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
}

.btn_close button {
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 16px;
    width: 120px;
    height: 35px;
}